#root {
  margin: 0 auto;
  text-align: center;
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #85878a;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
